<div class="row">
  <div class="col-md-5">
    <div class="well" id="movie-window">
      <iframe width=100% height=100% src="https://www.youtube.com/embed/3ZzynuIKnh4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <!-- left col -->
  <div class="col-md-7">

    <div class="well">
      <p><em>Piano/Keyboard & Drum Instructor</em></p>

      <p>Jimi Marks graduated from UC Berkeley in 2010 with a BA in Music and Cognitive Science. Currently he plays drums and keyboards in a variety of projects whose styles range from swing to surf rock to ska. He also continues to pursue an independent study of the piano, learning classical and jazz pieces as well as theory. Always open to exploring new musical styles, Jimi encourages students to learn about the music they already love to listen to. By doing this, he aims to foster good practicing habits while at the same time teach students to get as much joy from their instrument as possible.</p>
    </div>
  </div>
  <!-- right col -->
</div>
<!-- row -->
