<div *ngIf="adminLogin">
  <h3>
    Lessons logger.
  </h3>
  <a href="https://docs.google.com/a/soundgroundwork.com/forms/d/1r61d8dCZIA5FAZa0jgcLA0wgUnqkypl8d4az_MrlQ64/edit?usp=sharing">here's a link to the form if you need to modify it.</a>
  <iframe  src="https://docs.google.com/a/starpowermusic.net/forms/d/e/1FAIpQLSdpOcUT3pceFtTK87W4niuzSBWKpnpaA9YDbBOqfYnhucCSDw/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
<div *ngIf="!adminLogin">
  <h3>Please login and to view this page.</h3>
</div>
