
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.starpowermusic.com/" target="_blank">Star Power Music School</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="students">Students</a></li>
      <li><a routerLink="">About</a></li>
      <li><a *ngIf="!adminLogin" (click)="login()">Login</a></li>
      <li><a *ngIf="adminLogin" (click)="logout()">Jimi Marks - Logout</a></li>
    </ul>
  </div>
  <!-- container -->
</nav>
<div class="container">
  <div class="row">
    <div class="jumbotron" id="titletron">
      <h1 class="title">{{title}}</h1>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <!-- <app-student-list></app-student-list> -->
    <router-outlet></router-outlet>
  </div>
  <!-- row -->
</div>
<!-- container -->
<footer class="footer">
  <div class="container">
    <a *ngIf="adminLogin" routerLink="admin">Admin</a>
  </div>
</footer>
